* {
  padding: 0;
  margin: 0;
}

html,
body,
#page,
#top,
#prelude,
#wrapper,
#footer,
#main,
#content,
#sidebar,
#blognav,
#blogextra {
  margin: 0;
  padding: 0;
}

body {
  padding-block-start: 35px;
  padding-block-end: 35px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
}

#page {
  z-index: 2;
  position: relative;
  margin: 0 auto;
}

/* Page layout */

#page {
  inline-size: 80%;
  min-inline-size: 760px;
}

#top {
  position: relative;
  inline-size: 100%;
  block-size: 9em;
  margin-block-end: 2px;
}

#topcontent {
  position: absolute;
  inset-block-end: 0em;
  padding-block-start: 0em;
  padding-block-end: 1.3em;
  padding-inline-start: 2em;
  padding-inline-end: 2em;
}

#prelude {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-end: 2em;
  padding-inline-end: 0;
}

#topsearch {
  position: absolute;
  inset-block-start: 5.5em;
  inset-inline-end: 2em;
  padding-inline-end: 0em;
}

#wrapper {
  padding: 0 2em;
}

#main {
  float: inline-start;
  margin-inline-end: -18em;
  inline-size: 100%;
}

#content {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 22em;
}

#sidebar {
  margin: 0;
  float: inline-end;
  inline-size: 18em;
}

#blognav,
#blogextra {
  margin: 0 6px;
}

#footer {
  position: relative;
  block-size: 2em;
  clear: both;
  padding-block-start: 5em;
}

#footer .left {
  position: absolute;
  inset-inline-start: 2em;
  inset-block-end: 1.2em;
}

#footer .right {
  position: absolute;
  inset-inline-end: 2em;
  inset-block-end: 1.2em;
}
